
<%= simple_form_for(['cpanel', User.new], html: {id: 'form'}) do %>
<table class="table table-hover">
  <thead>
    <tr>
      <th class="center"></th>
      <th>头像</th>
      <th>显示名字</th>
      <th>宝贝数量</th>
      <th>粉丝/关注</th>
      <th>注册时间</th>
      <th>最后登录</th>
      <th class="hidden-480">状态</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |o| %>
    <tr>
      <td class="center">
        <input type="checkbox" name="id[]" value="<%=o.id%>" class="ace">
      </td>

      <td>
        <%= image_tag o.avatar, size: '32x32', class: 'nav-user-photo' %>
      </td>
      <td><%= o.name %>
      <td><%= o.items_count %></td>
      <td><%= "#{o.followers_count}/#{o.followers_count}" %></td>
      <td><%= o.created_at.strftime("%Y-%m-%d")%></td>
      <td><%= o.last_sign_in_ip%></td>
      <td class="hidden-480">Status</th>
      <td>
      删除
      无效
      达人
      </td>
    </tr>
    <% end %>

    <tfoot>
      <td colspan="9">
       <div class="btn-group btn-group-xs">
          <button type="button" class="btn btn-danger">删除选中</button>
          <button type="button" class="btn btn-info">隐藏选中</button>
          <button type="button" class="btn btn-success">恢复选中</button>          
        </div>
      </td>
    </tfoot>

  </tbody>
</table>
<% end %>


<%= content_for :scripts do %>

<script type="text/javascript">
Treeview.render(tree['tree'], 'category');
function post(url){
  $('#form').attr('action', url);
  $('#form').submit();
}
</script>

<% end %>