<div class="col-lg-12">
  <% if current_user %>
  <%= simple_form_for target.comments.new do |f| %>
  <%= f.input :subject_type, as: 'hidden' %>
  <%= f.input :subject_id, as: 'hidden' %>

  <div class="input-group">
    <span class="input-group-btn avatar">
      <%= user_avatar_tag(current_user, :normal) %>
    </span>
    <textarea name="comment[body]"></textarea>
    <span class="input-group-btn">
      <%= f.submit '马上发表', :class => "btn btn-primary", 'data-disable-with' => t("common.submitting") %>
    </span>
  </div><!-- /input-group -->
  <% end %>
  <% else %>
  <h3>Login to comment </h3>
  <% end %>
</div><!-- /.col-lg-6 -->