<%= content_for :styles do %>

<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="/scripts/jquery-file-uploader/css/jquery.fileupload.css">
<link href="/scripts/editor/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/scripts/editor/css/froala_editor.min.css" rel="stylesheet" type="text/css">
<% end %>

<div class="container" id="main">
    <div class="row new">
        <div class="col-md-8 edit">
        <%= simple_form_for @topic, html:{id: "fileupload", class: 'form-horizontal',role: "form"}  do |f| %>
          
          <%= render "shared/error", :target => @topic %>  

          <div class="form-group">
            <label for="topic_node_id" class="col-sm-2 control-label">选择主题</label>
            <div class="col-sm-10">
              <%= render_topic_node_select_tag(@topic) %>
            </div>
          </div>

          <div class="form-group">
            <label for="title" class="col-sm-2 control-label">标题</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="title" name="topic[title]" placeholder="标题">
            </div>
          </div>

          <div class="form-group">
            <label for="title" class="col-sm-2 control-label"></label>
            <div class="col-sm-10" id="files">
              
            </div>
          </div>

          <div class="form-group">
            <label for="fileupload" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
              <input type="file" class="form-control" name="files[]"  />
            </div>
          </div>

          <div class="form-group">
            <label for="text" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
              <textarea name="topic[body]" id="text"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">发表</button>
            </div>
          </div>
           
        <% end %>
        </div>

        <div class="col-md-4 sider">
            <ul>
                <li> user info </li>
            </ul>
        </div>
    </div>
</div>

<%= content_for :scripts do %>
<script src="/scripts/jquery-file-uploader/js/vendor/jquery.ui.widget.js"></script>
<script src="/scripts/jquery-file-uploader/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/scripts/jquery-file-uploader/js/jquery.fileupload.js"></script>
<script src="/scripts/editor/js/froala_editor.min.js"></script>
<script src="/scripts/editor/js/langs/zh_cn.js"></script>
<script>
$(function () {
    'use strict';
    // Change this to the location of your server-side upload handler:
    var url =  '/photos';
    $('#fileupload').fileupload({
        url: url,
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                //$('<p/>').text(file.name).appendTo('#files');
                var html = '<dl><dt><img src="'+ file.url +'" width="100" /></dt>';
                    html += '<dd><input type="hidden" name="topic[photo][id][]" value="'+ file.id +'" />'+ file.name +'</dd></dl>';
                $('#files').append( html );
            });
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');

    $.Editable.prototype.parseImageResponse = function(d){
  var json = $.parseJSON(d);
  try{
    this.writeImage(json.link);
    var html = '<dl><dt><img src="'+ json.thumbnail_url +'" width="100" /></dt>';
        html += '<dd><input type="hidden" name="topic[photo][id][]" value="'+ json.id +'" />'+ json.name +'</dd></dl>';
        $('#files').append( html );
  }catch (d) {
    this.throwImageError(4)
  }
}

$('#text').editable({inlineMode: false, 
  language: 'zh_cn',
  placeholder: '开始输入...',
  minHeight: 150,
  mediaManager: false,
  maxImageSize: 1024 * 1024 * 3,
  imageUploadParam: 'files[]',
  imageUploadParams: {authenticity_token: $('input[name="authenticity_token"]').val()},
  imageDeleteURL: 'http://example.com/delete_image',
  imageUploadURL: "<%= photos_path %>",
  borderColor: '#ccc',
  buttons: ['bold', 'fontSize', 'color', 'item', 'insertImage', 'insertVideo'], 
  blockTags: ['p'],
  
  customButtons: {
    item: {
      title: '宝贝',
      icon: {
        type: 'font',
        value: 'fa fa-shopping-cart'
      },
      callback: function (editor){
        alert ('Hello!')
      }
    }
  }
});
});
</script>
<% end %>