<div class="topic clearfix">
  <div class="node">
    <div class="type round-sm">问答</div>
    
    <div class="reply">
      <div class="count">250</div>
      <div class="name">回复</div>
    </div>    
  </div>

  <div class="summary">
    <h3><%=link_to topic.title, topic_path(topic) %></h3>
    <div class="user">
      <%= link_to topic.user.name, user_path(topic.user.login) %>
      发表于 <span class="time"><%= topic.created_at.strftime("%H:%M:%S") %>
      浏览1233 / 喜欢1233
    </div>
    <div class="text"><%= truncate(topic.body, length: 140) %></div>
    <ul class="thumb clearfix">
      <% topic.photos.each do |photo| %>
      <li ><%= image_tag photo.file.url, width: '200' %></li>
      <% end %>
    </ul>
  </div>
</div>
    