<div class="container" id="main">
  <div class="row">    
    <div class="col-md-8 list">
      <div class="toolbar">
        <a href="">全部</a>
        <span class="sparator">-</span>
        <a href="">精华</a>
        <span class="sparator">-</span>
        <a href="">知识</a>
        <span class="sparator">-</span>
        <a href="">问答</a>

        <span class="sparator">|</span>

        <a href="">最新</a>
        <span class="sparator">-</span>
        <a href="">最多回复</a>
      </div>
      <div class="topics">
        <%= render partial: 'topic', collection: @topics %>
      </div>
    </div>

    <div class="col-md-4 sider">
      <div class="new">
        <%= link_to new_topic_path do %>
        <span class="round box"><i class="glyphicon glyphicon-edit"></i>发表新话题</span>
        <% end %>
        <a href="">
          <span class="round box"><i class="glyphicon glyphicon-edit"></i>申请新主题</span>
        </a>
      </div>

      <div class="category">
        <% @sections.each do |section| %>
        <ul class="section">
          <li>
            <%= link_to section.name, '' %>
            <ol class="node">
            <% section.nodes.each do |node| %>
              <li><%= link_to node.name, ''%></li>
            <% end %>
            </ol>
          </li>
        </ul>
        <% end %>
      </div>

      <div class="users">
        <div class="hd"><h5>活跃用户</h5></div>
        <ul>
          <% @users.each do |user| %>
          <li><%=user_avatar_tag(user, :normal) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>