<div class="container" id="main">
  <div class="row topics">
    <div class="col-md-8 list">
      <div class="topic">
        <h1><%= @topic.title %></h1>

        <div class="context">
          <%= raw @topic.body %>
        </div>

        <div class="comment">
          <%= render 'comments/comment', target: @topic  %>
        </div>
      </div>
    </div>

    <div class="col-md-4 sider">
      <div class="new">
        <%= link_to new_topic_path do %>
        <span class="round box"><i class="glyphicon glyphicon-edit"></i>发表新话题</span>
        <% end %>
      </div>

     
      <%= render 'items/user', target: @topic.user %>

      <div class="recommend clearfix">
        <div class="hd">相关</div>
        <ul class="">
          <% @links.each do |link| %>
          <li><%= link_to link.title, topic_topics_path(link) %></li>
          <% end %>
        </ul>
      </div>

      <div class="follow">
        
      </div>
    </div>
  </div>
</div>
