<div class="container" id="main">
  <div class="row topics">
    <div class="col-md-8 list">
      <div class="topic">
        <h1><%= @topic.title %></h1>

        <div class="context">
          <%= @topic.body %>
          <% @topic.photos.each do |photo| %>
          <%= image_tag photo.file.url %>
          <% end %>
        </div>

        <div class="comment">
          
          <%= render 'comments/comment', target: @topic  %>

        </div>
      </div>
    </div>

    <div class="col-md-4 sider">
      <div class="new">
        <%= link_to new_topic_path do %>
        <span class="round box"><i class="glyphicon glyphicon-edit"></i>发表新话题</span>
        <% end %>
      </div>

      <div class="user">
        作者信息
      </div>

      <div class="recommend">
        推荐主题
      </div>

      <div class="follow">
        推荐关注
      </div>
    </div>
  </div>
</div>
