<%= simple_form_for([:cpanel,@section], html:{class: 'form-horizontal'}) do |f| %>
  <%= render 'shared/error', :target => @section %>
  <fieldset>
    <legend></legend>
    <%= f.input :name %>
    <%= f.input :sort %>
    <div class="form-actions">
      <%= f.submit t("common.submit"), :class => "btn btn-primary", 'data-disable-with' => t("common.submitting") %>
      <%= link_to 'Back', cpanel_sections_path %>
    </div>
  </fieldset>
<% end %>
