<div class="row">
  <div class="col-md-12">
     <div id="profile" style="background:#fff url('<%= @user.cover.default.url%>') repeat-x;">
      <% if current_user and current_user == @user %>
      <form id="fileupload">
        <div id="customize">
          <span class="btn btn-xs fileinput-button">
          <span>自定义封面</span>
          <input type="file" name="files" multiple>
          </span>
        </div>
      </form>
      <% end %>
      
      <div class="user">
        <%= user_avatar_tag(@user, :big) %>
        <div class="link">
          <%= link_to @user.name, '#', class: 'name' %>
          <%= follow_or_unfollow(@user) %>
        </div>
      </div>

      <div id="path">
        <ul class="tabs clearfix">
          <li class="items dropup <%= path_active 'show' %>">
            <%= link_to user_path(@user.login) do %>
              <span class="meta"><%= t('item.name')%></span>
              <span class="count"><%= @user.items_count %></span>
            <% end %>
            <span class="caret"></span>
          </li>
          <li class="likes dropup <%= path_active 'likes' %>">
            <%= link_to likes_user_path(@user.login) do %>
              <span class="meta"><%=t('item.like')%></span>
              <span class="count"><%= @user.likes_count%></span>
            <% end %>
            <span class="caret"></span>
          </li>

          <li class="topics dropup <%= path_active 'topics' %>">
            <%= link_to topics_user_path(@user.login) do %>
              <span class="meta"><%= t('topics.name')%></span>
              <span class="count"><%= @user.topics_count %></span>
            <% end %>
            <span class="caret"></span>
          </li>

          <li class="followers dropup <%= path_active 'followers' %> ">
            <%= link_to followers_user_path(@user.login) do %>
              <span class="meta"><%=t('users.follower')%></span>
              <span class="count"><%=@user.followers_count%></span>
            <% end %>
            <span class="caret"></span>
          </li>
            
          <li class="following dropup <%= path_active 'following' %> ">
           <%= link_to following_user_path(@user.login) do %>
              <span class="meta"><%=t('users.following')%></span>
              <span class="count"><%=@user.following_count%></span>
            <% end %>
            <span class="caret"></span>
          </li>
        </ul>
      </div>
     </div>
  </div>
</div>