<div class="row profile">
  <div class="col-md-8">
      <div class="user group ">
        <%= user_avatar_tag(@user, :big) %>
        <h4><%= @user.name %></h4>
        <div class="follow-prompt">
          <%= follow_or_unfollow(@user) %>
        </div>
      </div>
  </div>
  <div class="col-md-4">
    <div class="profile-actions group">
      <ul class="profile-tabs">
        <li class="works">
          <%= link_to items_user_path(@user.login) do %>
          <span class="count"><%= @user.items_count %></span>
          <span class="meta"><%=t('item.name')%></span>
          <% end %>    
        </li>
        <li class="followers">
          <%= link_to followers_user_path(@user.login) do %>
            <span class="count"><%=@user.followers_count%></span>
            <span class="meta"><%=t('users.follower')%></span>
          <% end %>
        </li>
          
        <li class="following">
         <%= link_to following_user_path(@user.login) do %>
            <span class="count"><%=@user.following_count%></span>
            <span class="meta"><%=t('users.following')%></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>