<div id="slider" class="carousel slide slider" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#slider" data-slide-to="0" class="active"></li>
    <li data-target="#slider" data-slide-to="1"></li>
    <li data-target="#slider" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% @slider.each_with_index do |ad,index| %>
    <div class="item <%= 0 == index ? 'active': ''%>">
      <%= link_to ad.url do %>
      <%= image_tag ad.cover.default.url %>
      <% end %>
      <div class="carousel-caption">
        <%= link_to ad.title,ad.url %>
      </div>
    </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#slider" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#slider" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="cat box">
  <div class="sub">
    <ul class="first"></ul>
  </div>
</div>

<div id="special">
  <ul>
    <li><img src="/images/promotion.png" height="110" /></li>
    <li>话题推荐</li>
    <li>推荐网店</li>
  </ul>
</div>

<div id="promotion">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hd clearfix"><h2> 值得购买 </h2></div>
        <ul>
          <%= render partial: 'item', collection: @promotions %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="recommend">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hd clearfix"><h2>编辑精选</h2></div>
      </div>
    </div>
  </div>
</div>


<div class="list">
  <div class="container">
    <div class="row">
      <div class="col-md-12 clearfix">
        <div class="hd clearfix"><h2> 新上单品 </h2></div>
        <ul class="items">
          <%= render partial: 'items/item', collection: @items %>
        </ul>
        <div class="hide" id="loading"><h3>努力加载中...</h3></div>
        <div class="hide" id="more"><h3>浏览更多</h3></div>
      </div>
    </div>
  </div>
</div>

<%= content_for :scripts do %>
<script id="template-nav" type="text/x-tmpl">
{% for(var i=0, e = o.tree.length; i < e; i++) { %}
<li  data-tag="{%= i +1 %}">
  <h3 class="title">
      <a href="/explore/{%=o.tree[i].slug%}" target="_blank" class="primary_navlist_h fl mr10">{%= o.tree[i]['name'] %}</a>
  </h3>
  <ol class="secondary clearfix">
      {% for(var j=0, k=o.tree[i].child.length; j < k ; j++) { %}
      <li> <a href="/explore/{%=o.tree[i].slug%}/{%= o.tree[i].child[j].slug%}" target="_blank">{%= o.tree[i].child[j].name %}</a> </li>
      {% } %}
  </ol>
</li>
{% } %}
</script>

<script src="/scripts/category.json"></script>
<script src="/scripts/tmpl.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
  var $nav = $('.sub ul');
      $nav.append( tmpl('template-nav', tree) );

  window.onscroll = more;

  var loading = false, page = 1;

  function more(){
    if (!loading){
      if( $(document).scrollTop() + $(window).height() > $(document).height() - 20) {
        //show loading
        console.log($(document).scrollTop() + $(window).height());
        loading = true;
        $('#loading').show();

        $.ajax({
          url: '/items/more',
          data: {page: ++page},
          success: function(html){
            //unbind the scroll
            $('.items').append( html );
            //resort the waterfall
            //water();
            $('#loading').hide();
            loading = false;
            
            if (page > 4){
              window.onscroll = false;
              loading = true;
              // show explore more
              $('#more').show();
            }
          }
        });
      }
    }
  }
  //$('.fit').hover(function(){$(this).addClass('hover');},function(){$(this).removeClass('hover');})
});

</script>
<% end %>