<div id="slider" class="carousel slide slider" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#slider" data-slide-to="0" class="active"></li>
    <li data-target="#slider" data-slide-to="1"></li>
    <li data-target="#slider" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% @slider.each_with_index do |ad,index| %>
    <div class="item <%= 0 == index ? 'active': ''%>">
      <%= link_to ad.url do %>
      <%= image_tag ad.cover.default.url %>
      <% end %>
    </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#slider" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#slider" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 cat">
      <ul class="first sub "></ul>
    </div>
  </div>
</div>

<div id="special">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!--<div class="hd clearfix"><h3><img src="/images/hot.png" /></h2></div>-->
        <ul>
          <li style="margin-left:0;"><img src="/images/10.png" /></li>
          <li><img src="/images/style.png" /></li>
          <li><img src="/images/community.png" /></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="promotion">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hd clearfix"><h3><img src="/images/worthbuying.png" /></h2></div>
        <ul>
          <%= render partial: 'item', collection: @promotions %>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--
<div id="recommend">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hd clearfix"><h3><img src="/images/collection.png" alt="编辑推荐"/></h2></div>
      </div>
    </div>
  </div>
</div>
-->
<div class="list">
  <div class="container">
    <div class="row">
      <div class="col-md-12 clearfix">
        <div class="hd clearfix"><h3><img src="/images/whatsnew.png" alt="新上单品" /></h2></div>
        <ul class="items clearfix">
          <%= render partial: 'items/item', collection: @items %>
        </ul>
        <div style="display:none; position: absolute; bottom:10px;left:49%" id="loading"><h3>努力加载中...</h3></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 end">
        <ol class="dot">
          <li ></li>
          <li class="active"></li>
          <li ></li>
        </ol>
        <div class="more">
          <a href="/explore/clothes" class="btn btn-success btn-lg">浏览更多</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :scripts do %>
<script id="template-nav" type="text/x-tmpl">
{% for(var i=0, e = o.tree.length; i < e; i++) { %}
<li data-tag="{%= i + 1 %}" class="{%= i == e - 1 ? 'last' : '' %}{%= 0 == i ? 'first' : '' %}">
  <div class="icon"><img src="/images/{%=o.tree[i].slug%}.png" /></div>
  <div class="item">
    <h3 class="title">
        <a href="/explore/{%=o.tree[i].slug%}" target="_blank" class="primary_navlist_h fl mr10">{%= o.tree[i]['name'] %}</a>
    </h3>
    <ol class="secondary clearfix">
        {% for(var j=0, k=o.tree[i].child.length; j < k ; j++) { %}
        <li> <a href="/explore/{%=o.tree[i].slug%}/{%= o.tree[i].child[j].slug%}" target="_blank">{%= o.tree[i].child[j].name %}</a> </li>
        {% } %}
    </ol>
  </div>
</li>
{% } %}
</script>

<script src="/scripts/category.json"></script>
<script src="/scripts/tmpl.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
  var $nav = $('.sub');
      $nav.append( tmpl('template-nav', tree) );

  window.onscroll = more;

  var loading = false, page = 2;

  function more(){
    if (!loading){
      if( $(document).scrollTop() + $(window).height() > $(document).height() - 200) {
        //show loading
        //console.log($(document).scrollTop() + $(window).height());
        loading = true;
        $('#loading').show();

        $.ajax({
          url: '/items/more',
          data: {page: ++page},
          success: function(html){
            //unbind the scroll
            $('.items').append( html );
            //resort the waterfall
            //waiting all images load
            var images = $('img', html), t = images.length;
 
            for(var i=0, e=t; i < e; i++){
              img = new Image();
              img.src = images[i].src;
              //cached images
              if(img.complete) --t;
              //new images
              img.onload = function(){
                --t;
              }
            }
            if(t == 0) waterFall();

            $('#loading').hide();
            loading = false;
            
            if (page > 5){
              window.onscroll = false;
              loading = true;
              // show explore more
              $('.list .end').show();
            }
          }
        });
      }
    }
  }
  //$('.fit').hover(function(){$(this).addClass('hover');},function(){$(this).removeClass('hover');})
});

</script>
<% end %>