<li class="item">

  <div class="cover">
    <div class="zoom">
      <%= link_to style_path(item.id) do %>
      <%= image_tag item.photos.first.file.url %>
      <% end %>
    </div>
    
    
      <% item.photos.recent.each_with_index do |photo,index| %>
        <div class="thumb <%= 'last' if index == 3%> ">
        <%= link_to style_path(item.id) do %>
        <%= image_tag photo.file.default.url %>
        <% end %>
        </div>
      <% end %>

  </div>
  <div class="text">
    
    <p>
    佟丽娅，一个美丽的锡伯族姑娘。身为纯正的新疆女孩，身上散发出一股浓郁的异域风情。但是...
    </p>
    <h3> <%=user_avatar_tag(item.user, :small, text: true )%></h3>
  </div>
</li>