<div class="container" id="main">
  <div class="row round">

    <div class="col-md-7 photo">
      <ul>
      <% @style.photos.each do |photo| %>
        <li><%= image_tag photo.file.url %></li>
      <% end %>
      </ul>
    </div>

    <div class="col-md-5 info">
      <%= render 'items/user', target: @style.user %>

      <div class="summary">
        <p>
          <%= @style.body %>
        </p>
        <small class="pull-right"><i class="glyphicon glyphicon-time"></i>发布<%=time_ago_in_words(@style.created_at)%></small>
      </div>

      <!-- list here -->
      <h4 class="title"><i class="glyphicon glyphicon-shopping-cart"></i>搭配单品</h4>

      <div class="items">
        <ol>
          <% @style.items.each do |item| %>
          <li class="round">
            <span class="plus round-sm"><i class="glyphicon glyphicon-plus"></i></span>
            <div class="cover">
              <%= image_tag item.cover, size: '80x80' %>
            </div>
            <div class="item">
              <div class="title">
                <%= link_to item.title, item.url %>
              </div>
              <div class="buy">
                <em>&yen;<%= item.price %></em>
                <span><i class="glyphicon glyphicon-shopping-cart"></i>去购买</span>
              </div>
            </div>
          </li>
          <% end %>
        </ol>
      </div>

      <!-- tools here -->
      <div class="tools ">
        
      </div>

      <!-- comments here -->
      <div class="comments">
        <%= render 'comments/comment', :target => @style %>
        <%= render partial: 'items/reply', collection: @style.comments %>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h5 class="hd">更多搭配</h5>
      <ul class="items">
        <%= render partial: 'item', collection: @styles %>
      </ul>
    </div>
  </div>
</div>