<div class="container round" id="main">
  <div class="row">

    <div class="col-md-7 photo">
      <ul>
      <% @style.photos.each do |photo| %>
        <li><%= image_tag photo.file.url %></li>
      <% end %>
      </ul>
    </div>

    <div class="col-md-5 info">
      <%= render 'items/user', target: @style.user %>

      <div class="summary">
        <p>
          <%= @style.body %>
        </p>
        <small class="pull-right"><i class="glyphicon glyphicon-time"></i>发布<%=time_ago_in_words(@style.created_at)%></small>
      </div>

      <!-- list here -->
      <h4 class="title"><i class="glyphicon glyphicon-shopping-cart"></i>搭配单品</h4>

      <div class="links">
        <ul>
          <% @style.items.each do |item|%>
          <li class="clearfix">
            <%= link_to item.url do %>
              <span class="pic"><%= image_tag item.cover, size: '27x27' %></span>
              <span class="title"><%= item.title %></span>
              <span class="price">&yen;<%= item.price %></span>
              <span class="buy">马上购买</span>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>

      <!-- tools here -->
      <div class="tools ">
        <ul class="pagehead-actions">
          <li>
            <%= link_to like_style_path(@style), rel: 'nofollow', class: "btn like btn-xs with-count" do %>
            <span class="glyphicon glyphicon-heart"></span>喜欢
            <% end %>
            <span class="social-count"><%= @style.likes_count || 0 %></span>
          </li>

          <li>
            <a href="/" class="btn btn-xs with-count favourite" rel="nofollow">
              <span class="glyphicon glyphicon-star"></span>收藏
            </a>
            <span class="social-count">0</span>
          </li>

          <li>
            <a href="/" class="btn btn-default btn-xs with-count" rel="nofollow">
              <span class="glyphicon glyphicon-share"></span>分享到
            </a>
            <span class="social-count">
              
            </span>
          </li>
        </ul>
      </div>

      <!-- comments here -->
      <div class="comments">
        <%= render 'comments/comment', :target => @style %>
        <%= render partial: 'items/reply', collection: @comments %>
      </div>

    </div>
  </div>
</div>

<div class="container more">
  <h5 class="hd">更多搭配</h5>
  <div class="row">
    <div class="col-md-12">
      <ul>
      <% @styles.each do |style| %>
        <li class="style">
          <div class="bd">
            <div class="cover">
              <%= image_tag style.photos.first.file.url %>
            </div>
            <div class="thumb">
              <% style.photos.limit(4).each do |pic| %>
              <%= image_tag pic.file.url %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>

<% content_for :scripts do %>
<script type="text/javascript">
$('.links li').hover(function(){
    $(this).addClass('hover');
  },function(){
    $(this).removeClass('hover');
  });
</script>
<% end %>