
<%= simple_form_for([:cpanel, Item.new], html:{ id: 'form' }) do %>
<input type="hidden" name="page" value="<%= params[:page];%>" />
<table class="table" width="100%" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <th width="30">
        <input type="checkbox" name="all" id="chkall">
      </th>
      <th width="64">小图</th>
      <th>宝贝名称</th>
      <th width="120">所属分类</th>
      <th width="80">喜欢/浏览</th>
      <th width="80">用户</th>
      <th width="100">发布时间</th>
      <th width="80" >状态</th>
      <th width="120"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |o| %>
    <tr>
      <td >
        <input type="checkbox" id="chk<%= o.id %>" name="id[]" value="<%=o.id %>">
      </td>

      <td>
        <%= image_tag o.cover, size: '50x50' %>
      </td>
      <td><%= link_to o.title, item_path(o.id) %></td>
      <td><%= o.category.name if o.category %></td>
      <td><%= o.likes_count %></td>
      <td><%= o.user.try(:login) %></td>
      <td><%= o.created_at.strftime("%Y-%m-%d") %></td>
      <td>Status</th>
      <td>
        <%= link_to '删除', cpanel_item_path(o.id), :method => :delete, :'data-confirm' => '确定要删除吗?', :class => "icon-remove" %>
        推荐
      </td>
    </tr>
    <% end %>

    <tfoot>
      <td colspan="9">
        <select name="catalog" id="category" class="dropdown">
        </select>
        <div class="btn-group btn-group-xs">

          <button type="button" class="btn btn-warning" onclick="post('./items/moveto');">移动分类</button>
          <button type="button" class="btn btn-danger" onclick="post('./items/remove');">删除选中</button>
          <button type="button" class="btn btn-info">隐藏选中</button>
          <button type="button" class="btn btn-success">恢复选中</button>          
        </div>
      </td>
    </tfoot>
  </tbody>
</table>
<% end %>

<%= will_paginate @items%>

<!-- Treeview -->
<%= render 'cpanel/categories/treeview' %>

<%= content_for :scripts do %>
<script type="text/javascript">
Treeview.multiValue = 1;
Treeview.render(tree['tree'], 'category');
function post(url){
  $('#form').attr('action', url);
  $('#form').submit();
}
</script>
<% end %>