<%= simple_form_for([:cpanel, Item.new], html:{ id: 'form' }) do %>
<input type="hidden" name="page" value="<%= params[:page];%>" />
<div class="input-group">
  <input type="text" name="q" class="form-control" value="<%= params[:q]%>">
  <span class="input-group-btn">
    <select id="catalog" name="c"></select>
    <button class="btn btn-default" onclick="post('./items', 'get');" type="button">查找</button>
  </span>
</div>
<table class="table" width="100%" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <th width="30">
        <input type="checkbox" name="all" id="chkall">
      </th>
      <th width="64">小图</th>
      <th>宝贝名称</th>
      <th width="120">所属分类</th>
      <th width="80">喜欢/浏览</th>
      <th width="80">用户</th>
      <th width="100">发布时间</th>
      <th width="80" >状态</th>
      <th width="120"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |o| %>
    <tr>
      <td >
        <input type="checkbox" id="chk<%= o.id %>" name="id[]" value="<%=o.id %>">
      </td>

      <td>
        <%= image_tag o.cover.default.url, size: '50x50' %>
      </td>
      <td><%= link_to o.title, item_path(o.id), target: '_blank' %></td>
      <td><%= o.category.nil? ? '' : o.category.name %></td>
      <td><%= "#{o.likes_count}/#{o.views_count}" %></td>
      <td><%= o.user.try(:login) %></td>
      <td><%= o.created_at.strftime("%Y-%m-%d") %></td>
      <td><%= o.status > 0 ? '收入' : '采集' %></th>
      <td>
        <a href="javascript:;" class="tag" id="<%= o.id%>">标签</a>
      </td>
    </tr>
    <% end %>

    <tfoot>
      <td colspan="9">
        <select name="catalog" id="category" class="dropdown">
        </select>
        <div class="btn-group btn-group-xs">
          <button type="button" class="btn btn-warning" onclick="post('./items/moveto');">移动分类</button>
          <button type="button" class="btn btn-danger" onclick="post('./items/remove');">删除</button>
          <button type="button" class="btn btn-primary" onclick="post('./items/pin');">推荐</button>
        </div>
      </td>
    </tfoot>
  </tbody>
</table>
<% end %>

<%= will_paginate @items%>

<div class="modal fade " id="pop">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">选择标签</h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<!-- The template to display files available for upload -->
<script id="template-category" type="text/x-tmpl">
  <tr>
    {% for( var i=0; i < o.depth; i++ ) { %}
    <td></td>
    {% } %}

    <td colspan="{%= o.max - o.depth %}">
        {%=o.name%}
    </td>
    <td>
        {% if(o.child.length == 0){ %}
        <input type="checkbox" name="id[]" value="{%= o.id%}" />
        {% } %}
    </td>
  </tr>
</script>

<!-- Treeview -->
<%= render 'cpanel/categories/treeview' %>

<%= content_for :scripts do %>
<script src="/scripts/tmpl.min.js"></script>
<script type="text/javascript">
SelectView.multiValue = 1;
SelectView.render(tree['tree'], 'category', <%= params[:catalog].blank? ? 0 : params[:catalog].split(',')[-1] %>);
SelectView.render(tree['tree'], 'catalog', <%= params[:c].blank? ? 0 : params[:c].split(',')[-1] %>);

var max = tree['depth'],
    tbody = $('#tree tbody');

function render_node(tree, depth){
  for(var i=0; i < tree.length; i++){
    node = tree[i];
    node['depth'] = depth;
    node['max'] = max;
    tbody.append( tmpl('template-category', node) );
    if (node['child'].length > 0) render_node(node['child'], depth+1)
  }
}
$('#tree thead tr th').eq(1).attr('colspan', max);
render_node(tree['tree'], 0);

$('.tag').on('click', function(){
  $('#pop .modal-body').html('<iframe name="itag" src="/cpanel/items/tags?id='+ $(this).attr('id')+'" width="100%" height="100%" frameborder="0"></iframe>');
  $('#pop').modal();
});

// ajax post on close the pop
$('#pop #finish').on('click', function(){
  var id = $('input[type="checkbox"]', window.frames["itag"].document);
  console.log(id);
});

function post(url){
  $('#form').attr('action', url);
  if( arguments.length > 1) $('#form').attr('method', 'get');
  $('#form').submit();
}
</script>
<% end %>