<li class="item round">
  <div class="cover">
    <%= link_to item_path(item) do %>
    <%= image_tag item.cover.default.url %>
    <% end %>
    <span class="price round">&yen;<%= sprintf("%.2f", item.mprice || item.price || 0) %></span>
  </div>
  <div class="tools">
    <span class="round-sm"><i class="glyphicon glyphicon-heart"></i>喜欢</span>
    <span class="round-sm count"><%= item.likes_count%></span>
    <span class="view">浏览(<%= item.views_count%>)</span>
  </div>
  <div class="title"><%= link_to item.title, item_path(item.id), title: item.title %></div>
</li>