<div class="user">
  <dl>
    <dt><%= user_avatar_tag(target) %></dt>
    <dd>
      <h5><%= target.name %>
      <i class="glyphicon glyphicon-plus"></i> <%= link_to '加关注', user_follow_path(target.login), class: "follow" %>
    </h5>
      <%= link_to user_path(target.login) do %>
      <span class="count"><%= target.items_count %></span>
      宝贝
      <% end %>

      <%= link_to followers_user_path(target.login) do %>
      <span class="count"><%= target.followers_count %></span>
      关注
      <% end %>

      <%= link_to following_user_path(target.login) do %>
      <span class="count"><%= target.following_count %></span>
      粉丝
      <% end %>
    </dd>
  </dl>
</div>