<div class="user">

  <%= user_avatar_tag(target) %>

  <div class="">
    <%= link_to target.name, user_path(target.login), class: 'name' %>
    <p>
     <%= follow_or_unfollow(target) %>
    </p>
    <p class="links">
      <%= link_to user_path(target.login) do %>
      <span class="count"><%= target.items_count %></span>
      宝贝
      <% end %>

      <%= link_to followers_user_path(target.login) do %>
      <span class="count"><%= target.followers_count %></span>
      关注
      <% end %>

      <%= link_to following_user_path(target.login) do %>
      <span class="count"><%= target.following_count %></span>
      粉丝
      <% end %>
    </p>
  </div>
</div>