<%= simple_form_for @item do |f| %>
  <%= f.input :price, as: 'hidden' %>
  <%= f.input :mprice, as: 'hidden' %>
  <%= f.input :body, as: 'hidden' %>
  <%= f.input :url, as: 'hidden' %>
  <%= f.input :selected, as: 'hidden', input_html: {id: 'selected', value: '0'} %>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">名称</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" name="item[title]" value="<%= @item.title %>" >
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">推荐理由</label>
    <div class="col-sm-10">
      <textarea class="form-control" name="item[comment]" rows="3" placeholder="为什么推荐这个宝贝"></textarea>
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">价格</label>
    <div class="col-sm-10">
      <p class="price"><span class="yen">&yen;</span><strong><%= @item.mprice || @item.price %></strong></p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <ul id="cover">
      <% @item.urls.each_with_index do |url, index| %>
      <li data="<%= index %>" <%= index == 0 ? 'class=selected' : '' %> >
        <%= image_tag url, size: '60x60' %>
        <input type="hidden" name="item[urls][]" value="<%= url %>" />
      </li>
      <% end %>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit '发布', :class => "btn btn-primary", 'data-disable-with' => t("common.submitting") %>
    </div>
  </div>

<% end %>