<% content_for :styles do %>
<script src="http://l.tbcdn.cn/apps/top/x/sdk.js?appkey=21744169"></script>
<% end %>
<div class="container" id="main">
  <div class="row box details">
    <div class="col-md-7 photo">
      <h4><%= @item.title %></h4>
      <div class="zoom">
        <%= image_tag @item.covers.first.file.url if @item.covers.first %>
      </div>
      <div class="thumb clearfix center-block">
        <ul>
          <% @item.covers.each do |cover| %>
          <li class="box"><%= image_tag cover.file.default.url, url: cover.file.url, size: '50x50' %></li>
          <% end %>
        </ul>
      </div>

      <div id="more">
        <p class="center-block"><span class="caret"></span>展开</p>
        <div class="hidden">
        <% @item.body.to_s.split(';').each do |img| %>
        <%= image_tag img %>
        <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-5 info">
      
      <%= render 'user', target: @item.user %>

      <div class="buy">
        <span class="price">&yen;<b><%= sprintf("%.2f", @item.price) %></b></span>
        <span class="round url">
          <%= link_to @item.url, target: '_blank' do %>
          <i class="glyphicon glyphicon-shopping-cart"></i> 去购买 </a>
          <% end %>
      </div>

      <div class="tools ">
        <%= render 'tools', target: @item %>
      </div>

      <div class="comments">
        <div class="comment">
          <%= render 'comments/comment', :target => @item %>
        </div>

        <%= render partial: 'reply', collection: @comments %>
      </div>
    </div>
  </div>

  <div class="row guess">
    <h4> 猜你喜欢 </h4>
    <div class="col-md-12">
      <ul class="items">
        <%= render partial: 'items/item', collection: @items %>
      </ul>
    </div>
  </div>
</div>

<div class="modal fade" id="pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">我的收藏架</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">完成</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%- content_for :scripts do -%>
<script type="text/javascript">
$(document).on('click', 'p', function(){
  $('#more div').toggleClass('hidden');
});
</script>
<%- end -%>