
<div class="container" id="main">
  <div class="row box details">
    <div class="col-md-7 photo">
      <h4><%= @item.title %></h4>
      <div class="zoom">
        <%= image_tag @item.photos.first.file.url if @item.photos.first %>
      </div>
      <div class="thumb clearfix center-block">
        <ul>
          <% @item.photos.each do |photo| %>
          <li class="box"><%= image_tag photo.file.url, url: photo.file.url, size: '50x50' %></li>
          <% end %>
        </ul>
      </div>

      <div id="more">
        <p class="center-block"><span class="caret"></span>展开</p>
        <div class="hidden">
        <% @item.body.to_s.split(';').each do |img| %>
        <%= image_tag img %>
        <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-5 info">
      
      <%= render 'user', target: @item.user %>

      <div class="buy">
        <span class="price">
          <em class="yen">&yen;</em>
          <b><%= sprintf("%.2f", @item.mprice ? @item.mprice : @item.price) %></b>
        </span>
        <span class="round url">
          <%= render_buy_tag @item.url %>
        </span>
      </div>

      <div class="tools ">
        <%= render 'tools', target: @item %>
      </div>

      <div class="colors">
        <ul class="color-chips">
          <% @item.photos.first.colors.to_s.split(';').each do |color| %>
          <li class="color"><%= link_to color, '', style: "background-color:##{color}" %></li>
          <% end %>
        </ul>
      </div>

      <div class="comments">
        <div class="comment">
          <%= render 'comments/comment', :target => @item %>
        </div>

        <%= render partial: 'reply', collection: @comments %>
      </div>
    </div>
  </div>

  <div class="row guess">
    <h4> 猜你喜欢 </h4>
    <div class="col-md-12">
      <ul class="items">
        <%= render partial: 'items/item', collection: @items %>
      </ul>
    </div>
  </div>
</div>

<div class="modal fade" id="pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">我的收藏架</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">完成</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%- content_for :scripts do -%>
<script type="text/javascript"> (function(win,doc){ var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0]; if (!win.alimamatk_show) { s.charset = "gbk"; s.async = true; s.src = "http://a.alimama.cn/tkapi.js"; h.insertBefore(s, h.firstChild); }; var o = { pid: "mm_57503648_6710137_22936809",/*推广单元ID，用于区分不同的推广渠道*/ appkey: "21744169",/*通过TOP平台申请的appkey，设置后引导成交会关联appkey*/ unid: ""/*自定义统计字段*/ }; win.alimamatk_onload = win.alimamatk_onload || []; win.alimamatk_onload.push(o); })(window,document);</script>
<script type="text/javascript">
$(document).on('click', 'p', function(){
  $('#more div').toggleClass('hidden');
});
</script>
<%- end -%>