<%= content_for :styles do %>
<style type="text/css">
.toolong {width: 799px;}
.toolong a{width:100%; overflow: hidden}
</style>
<% end %>
<%= render 'cpanel/shared/tabs_of_task' %>
<%= simple_form_for TaskLink.new, :url => fetch_cpanel_tasks_path, :method => 'post' do %>
<table class="table" width="100%" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <th >
        <input type="checkbox" name="all" id="chkall">
      </th>
      <th >链接</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
    <tr>
      <td width="15">
        <input type="checkbox" id="chk<%= page.id %>" name="id[]" value="<%=page.id %>">
      </td>

      <td class="toolong"><%= link_to page.url, page.url, title: page.url, target: '_blank' %></td>

      <td width="80">
        <%= link_to '删除', cpanel_task_path(page.id), :method => :delete, :'data-confirm' => '确定要删除吗?', :class => "icon-remove" %>
        <a href="###" class="crawl" id="<%= page.id%>">采集</a>
      </td>
    </tr>
    <% end %>

    <tfoot>
      <td colspan="9">
          <button type="button" class="btn btn-danger btn-xs">删除选中项</button> 
          <button type="submit" class="btn btn-warning btn-xs">采集选中项</button>
          <%= will_paginate @pages%>
      </td>
    </tfoot>
  </tbody>
</table>
<% end %>

<% content_for :scripts do %>
<script type="text/javascript">
$(document).ready(function(){
  $(document).on('click', '.crawl', function(){
    var self = $(this);
    if (self.hasClass('processing')) return false;
    $.ajax({
      type : 'POST',
      url : "<%= fetch_cpanel_tasks_path%>",
      data : {'id[]': self.attr('id')},
      beforeSend : function(){
        self.html('正在采集');
      },
      success : function(data){
        self.html('已经采集');
      },
      error : function(xhr, status, error){
        self.html('采集失败:' + error);
      }
    });
    return false;
  });
});
</script>
<% end %>