<div class="container" id="main">
  <div class="row edit">
    <div class="col-md-2 col-md-offset-1 sider">
      <%= render 'account/sider' %>
    </div>

    <div class="col-md-8 main">
      <%= simple_form_for(@user, :url => user_password_path, 
                        html: { :method => :put, class: 'form-horizontal'}) do |f| %>

        <%= render "shared/error", :target => @user %>

        <%= f.input :current_password, label: '当前密码' %>
        <%= f.input :password, label: '新密码' %>
        <%= f.input :password_confirmation, label: '确认新密码' %>
      <% end %>
    </div>

  </div>
</div>