<div id="signup">
  <div class="container">
    <div class="row">
      
      <div class="col-md-7">
        <div id="ad"><img src="/images/signup.png" /></div>
      </div>

      <div class="col-md-5 sidebar">
        <div class="box">
          <div class="hd"> 
            <h2>注册</h2>
          </div>
          <div class="bd">
            <div class="inner">
            <%= simple_form_for(resource, :url => registration_path(resource_name), defaults: { input_html: { class: 'form-control' } }) do |f| %>    
              <% if resource.errors.any? %>  
              <div style="display: block;" class="login-msg msg">
                <div class="error">
                <% resource.errors.full_messages.each do |message| %>
                  <%= content_tag(:p, message) %>
                <% end %>
                </div>
              </div>
              <% end %>

             <div class="field username-field">
                <label for="TPL_username_1" class="iconfont"></label>
                  <input type="text" name="user[login]" id="TPL_username_1" class="login-text" value="<%=resource.login%>"  autocomplete="off" maxlength="32" tabindex="1">
                  <span class="nickx" href="javascript:void(0)" style="display: none;"></span>
              </div>

              <div class="field pwd-field">
                <label id="password-label" for="user_password" class="iconfont"></label>
                <span id="J_StandardPwd">
                  <input class="login-text" id="user_password" name="user[password]" type="password">
                </span>
              </div>

              <div class="field pwd-field">
                <label id="password-label" for="user_password_confirmation" class="iconfont"></label>
                <span id="J_StandardPwd">
                  <input class="login-text" id="user_password_confirmation" name="user[password_confirmation]" type="password">
                </span>
              </div>

              <div class="safe">
                <span class="safe-login">
                  <label>
                    <%= f.check_box :remember_me, checked: true, readonly: true %> <a href="">阅读用户注册条款</a>
                  </label>
                </span>
                
              </div>

              <div class="submit">
                  <input type="hidden" name="ppp" id="ppp">
                  <button type="submit" class="J_Submit" tabindex="5">同意并注册</button>
              </div>

              <ul class="entries" id="xtylorukwpgzcfbhejnmvqiads">
                <li class="other-login">
                  <a href="#" class="weibo-login" title="微博帐号登录">微博登录</a> 
                  <a href="#" class="alipay-login" title="支付宝账户登录">QQ账号登录</a>
                </li>
                <li class="register"><%= link_to t("users.signin"), new_session_path(resource_name) %></li>
              </ul>
              
            <% end %>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>