<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= render_page_title %>
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= truncate(@meta_description, :length => 150) %>" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
  <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <%= yield :styles %>
  <%= csrf_meta_tags %>
</head>
<%= render_body_tag %>

<%= render 'shared/header' %>

<div id="wrap">
  <div class="menu">
    <div class="container">
      <div class="row">
        <div class="col-md-1 col-offset-2 home"><a href="/"><i class="glyphicon glyphicon-home"></i></a></div>
        <div class="col-md-9">
          <%= render 'shared/menu' %>
        </div>
      </div>
    </div>
  </div>  
  <%= notice_message %>
  <%= yield %>
</div>

<%= render 'shared/footer' %>

<%= yield :scripts %>
<script type="text/javascript">
$(function() {
  $(window).scroll(function() {
      if ($(window).scrollTop() > 100)
          $('div.go-top').show();
      else
          $('div.go-top').hide();
  });
  $('div.go-top').click(function() {
      $('html, body').animate({scrollTop: 0}, 1000);
  });
});
</script>
<div class="go-top">
    <div class="arrow"></div>
    <div class="stick"></div>
</div>
<div class="modal fade" id="share">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">分享宝贝</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer"></div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>
</html>
