<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CPanel Console</title>
  <%= stylesheet_link_tag "cpanel/application", media: "all"%>
  <%= javascript_include_tag "cpanel" %>
  <%= yield :styles %>
  <%= csrf_meta_tags %>
</head>

<body>

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand">CPANEL</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/" target="_blank">首页</a>
        </li>
        <li>
          <a href="../about">关于</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<%= notice_message %>

<div id="wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-2" id="sider">
        <%= render 'cpanel/shared/sider' %>
      </div>

      <div class="col-md-10" id="main"> 
        <%= yield %>
      </div>
    </div>
  </div>
</div>

<%= yield :scripts %>

</body>
</html>
