<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= render_page_title %>
  <%= stylesheet_link_tag "user" %>
  <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<%= render_body_tag %>

<div id="wrap">
  <header class="navbar" role="banner">
    <div class="container">
      <nav class="collapse navbar-collapse" role="navigation">
        <h3 class="logo"></h3>
      </nav>
    </div>
  </header>
  <%= yield %>  
</div>
<%= render 'shared/footer' %>
<%= yield :scripts %>
</body>
</html>